// Brand Colors
$color-primary: #0962A3;
$color-primary-light: #45A9F2;

$color-secondary: rgb(250, 163, 2);

$color-black: #030303;
$color-white: #E5E5E5;

// Shades
$color-gray-dark-1: #C4C4C4;
$color-gray-dark-2: #DADADA;

$color-gray-light-1: #F4F4F4;
